.container
  = search_form_for( @q, url: search_friendships_path) do |f|
    .field.is-horizontal.mb-6
      .field-body
        = f.search_field :email_cont, class: "input is-rounded"
      .actions.ml-6
        = f.submit class: "button is-primary"
  .tile.is-ancestor.is-flex-wrap-wrap
    = render partial: 'friendships/user', collection: @users

