.container
  %h1.title
    = Post.model_name.human(count: @posts.length)
  - @posts.each do |post|
    = turbo_stream_from(post)
    .block{id: dom_id(post)}
      = render partial: 'post', locals: { post: post, logged_user: @current_user, can_destroy_post: can?(:destroy, post) }
