* {
	box-sizing: content-box;
	padding: 0%;
	margin: 0%;
}
html {
	height: auto;
}

body {
	height: 100vh;
}

#application-navbar {
	background-color: rgb(9, 50, 87);
	color: white;
	box-shadow: 0px 9px 16px -3px rgba(0,0,0,0.33);
}
#application-navbar #application-name{
	color: white;
	font-weight: 800;
}

#application-navbar #application-name:hover{
	color: rgb(191, 210, 226);
}

#content-containter {
	background-color: rgb(235, 235, 235);
}

